# Visual Studio 2015/2017 cache/options directory
.vs/

# backup files
backup.source/
source.pub/

# shell scripts
*.sh
lastdeploy.txt

# hide script IDs
scriptID_*.txt
clasp.json
.clasp.json
appsscript.json

# END of FILE #
